* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header .container .row .col-7 img {
  width: 28%;
  height: 76px;
}
.header .container .row .col-5 .fas {
  font-size: 20px;
  padding-top: 30px;
  padding-right: 10px;
}
.header .container .row .col-5 .far {
  font-size: 20px;
  padding-top: 30px;
}
.nav .container .row .col-12 .menu-main {
  position: relative;
  margin-bottom: 15px;
}
.nav .container .row .col-12 .menu-main li:hover .sub-menu {
  display: block;
}
.nav .container .row .col-12 .menu-main li {
  padding: 10px 12px;
}
.nav .container .row .col-12 .menu-main li a {
  text-decoration: none;
  font-size: 14px;
  color: #1d1d1d;
  font-weight: 500;
}
.nav .container .row .col-12 .menu-main li a:hover {
  color: orchid;
  border-bottom: 2px solid black;
}
.sub-menu {
  position: absolute;
  top: 39px;
  left: 0px;
  border-top: 1px solid rgb(226 220 220);
  display: none;
  background-color: #ffffff;
  z-index: 1;
}
.sub-menu p:hover {
  color: orange;
  cursor: pointer;
}
.sub-menu .row .col-12 .title-12 {
  font-size: 15px;
  font-weight: 600;
  padding-top: 25px;
}
.sub-menu .row .col-2 img {
  padding-bottom: 20px;
  padding-left: 5px;
}
.sub-menu .row .col-2 p {
  font-size: 14px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.sub-menu .row .col-2 p:first-child {
  font-size: 15px;
  font-weight: 600;
}
.section .row .col-12 {
  position: relative;
  margin-top: 0;
}
.section .row .col-12 img {
  filter: brightness(80%);
  z-index: -1;
  margin-top: -20px;
}
.section .row .col-12 p {
  position: absolute;
  top: 366px;
  left: 688px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.section .row .col-12 span {
  position: absolute;
  top: 391px;
  left: 698px;
  font-size: 28px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.section .row .col-12 button {
  position: absolute;
  top: 434px;
  left: 693px;
  font-size: 14px;
  color: black;
  font-weight: 500;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}
.footer {
  background-color: #1d1d1d;
  bottom: 0px;
  position: sticky;
  z-index: -1;
}
.footer .container {
    background-color: #1d1d1d;
    margin-top: -20px;
   
}
.footer .container .row .col-12 img {
  width: 16%;
  height: 121px;
}
.footer .container .row .col-3 .title-3{
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
}
.footer .container .row .col-3 p{
    color: gray;
    padding-top: 10px;
    padding-bottom: 5px;
}
.footer .container .row .col-6{
    border-top: 1px solid  #5a5656;
    color: gray;
    padding-top: 30px;
    padding-bottom: 20px;
}
.footer .container .row .col-6 .fab{
    padding-left: 8px;
    font-size: 20px;
}
.footer .container .row .col-6 span{
    color: #767676;
    font-size: 13px;
}
.footer .container .row .col-6 .title-6{
    color: #ffffff;
    font-size: 13px;
}
.btn:hover{
  background-color: #767676;
}
